---
layout: default
title: Work
permalink: /work/
page-heading:
  title: My works
  description: Showcasing a select sortlist of recent Activities!
projects-list:
  show_projects: true
description: Showcasing a select list of recent activities and initiatives by Arun Teja Godavarthi aka. ZeoSpec, an Ecosystem Builder, Rotaractor, and Entrepreneur orchestrating global Developer Ecosystems and Strategic Partnerships.
---

<div class="c-page">

  {% include page-heading.html %}
  
  {% include projects-list.html %}

  {% include newsletter.html %}

</div>