{% if site.data.content.contact-form.show_contact_form %}
<!-- begin contact -->
<div class="c-contact-form" id="contact">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="c-contact-form__form-box">
          <div class="c-contact-form__contact-head">
            <h2 class="c-contact-form__contact-title">{{ site.data.content.contact-form.form_title }}</h2>
            <p class="c-contact-form__contact-description">{{ site.data.content.contact-form.form_description }}</p>
          </div>
          <form class="c-contact-form__form"
            action="{{site.data.content.contact-form.form_success_page}}"
            method="POST"
            novalidate>
            <input type="hidden" name="_to" value="{{site.data.content.contact-form.form_submission_email}}">
            <input type="hidden" name="_csrf" value="{{ site.time | date_to_xmlschema | sha256 }}">
            <input type="hidden" name="_honey" style="display:none">
            <div class="c-contact-form__form-group" aria-live="polite" aria-atomic="true" hidden></div>

            <div class="c-contact-form__form-group">
              <label class="c-contact-form__form-label screen-reader-text" for="form-name">Your Name</label>
              <input class="c-contact-form__form-input" id="form-name" type="text" name="name" placeholder="Your name..." autocomplete="name" required>
            </div>
            <div class="c-contact-form__form-group">
              <label class="c-contact-form__form-label screen-reader-text" for="form-email">Your Email</label>
              <input class="c-contact-form__form-input" id="form-email" type="email" name="_replyto" placeholder="Your email..." autocomplete="email"
                required>
            </div>
            <div class="c-contact-form__form-group">
              <label class="c-contact-form__form-label screen-reader-text" for="form-text">Your Message</label>
              <textarea class="c-contact-form__form-input" id="form-text" name="text" rows="9" placeholder="Your message..."
                required></textarea>
            </div>
            <div class="c-contact-form__form-group c-contact-form__form-group--button">
              <button class="c-button c-button--primary c-button--large" type="submit">{{ site.data.content.contact-form.form_button_text }}</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end contact -->
{% endif %}