<!-- begin footer -->
<footer class="footer">
  <div class="container">

    {% include subscribe.html %}
    
    {% include instagram.html %}

    {% include contact-link.html %}

    <div class="copyright">Copyright &copy; {{site.time | date: '%Y'}} <a href="/">ZeoSpec</a> — All right Reserved.</div>
</div>
</footer>
<!-- end footer -->

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/zeospec', text: 'Schedule a Meeting', color: '#e6eef0', textColor: '#000000', branding: false });</script>
<!-- Calendly badge widget end -->