<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.url == "/" %}{{ site.data.general_settings.title }}{% elsif page.layout == "tag_page" %}{{ page.title | capitalize | replace: "-"," "}} | {{ site.data.general_settings.title }}{% elsif page.title %}{{ page.title }} | {{ site.data.general_settings.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.data.general_settings.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | absolute_url }}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@ZeoSpec">
  <meta name="twitter:site" content="@ZeoSpec">
  <meta name="twitter:title" content="{% if page.url == "/" %}{{ site.data.general_settings.title }}{% elsif page.layout == "tag_page" %}{{ page.title | capitalize | replace: "-"," "}} | {{ site.data.general_settings.title }}{% elsif page.title %}{{ page.title }} | {{ site.data.general_settings.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.data.general_settings.description }}{% endif %}">
  <meta name="twitter:image:src" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.data.general_settings.social_media_share_image | absolute_url }}{% endif %}">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:domain" content="{{ site.url }}">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="{% if page.url == "/" %}{{ site.data.general_settings.title }}{% elsif page.layout == "tag_page" %}{{ page.title | capitalize | replace: "-"," "}} | {{ site.data.general_settings.title }}{% elsif page.title %}{{ page.title }} | {{ site.data.general_settings.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.data.general_settings.description }}{% endif %}">
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.data.general_settings.social_media_share_image | absolute_url }}{% endif %}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">

  <meta name="keywords" content="Arun Teja Godavarthi, Arun, ZeoSpec, Teja, Godavarthi, Community Builder" />
  <meta name="author" content="ZeoSpec" />
  <meta name="copyright" content="ZeoSpec">
  <meta name="url" content="https://zeospec.com/">
  <meta name="identifier-URL" content="https://zeospec.com/">

  <meta http-equiv="cache-control" content="public" />
  <meta http-equiv="Expires" content="0">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">

  <link rel="me" href="https://twitter.com/ZeoSpec" />
  <link rel="me" href="https://www.facebook.com/zeospec/" />
  <link rel="me" href="https://www.instagram.com/ZeoSpec/" />
  <link rel="me" href="https://www.linkedin.com/in/zeospec/" />

  {% if page.noindex == true %}
  <meta name=”robots” content=”noindex, follow”>
  {% endif %}
  {% if page.redirect_to_home == true %}
  <meta http-equiv="refresh" content="{{page.rtime}}; url = /" />
  {% endif %}

  {% if page.footnotes == true %}
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css"/>
  {% endif %}

  {% include structuredata.html %}

</head>