<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.type == "year" %}{{ page.date | date: "%Y"}} | ZeoSpec{% elsif page.type == "month" %}{{ page.date | date: "%B %Y"}} | ZeoSpec{% elsif page.type == "day" %}{{ page.date | date: "%d %B %Y"}} | ZeoSpec{% elsif page.title %}{{ page.title }} | ZeoSpec{% else %}{{ site.data.settings.title }}{% endif %}</title>
  <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title> -->
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
    <meta property="og:title"
        content="{% if page.type == "year" %}{{ page.date | date: "%Y"}} | ZeoSpec{% elsif page.type == "month" %}{{ page.date | date: "%B %Y"}} | ZeoSpec{% elsif page.type == "day" %}{{ page.date | date: "%d %B %Y"}} | ZeoSpec{% elsif page.title %}{{ page.title }} | ZeoSpec{% else %}{{ site.data.settings.title }}{% endif %}">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:locality" content="Bangalore" />
    <meta property="og:region" content="Karnataka" />
    <meta property="og:country-name" content="INDIA" />
    <meta property="og:site_name"
        content="{% if page.type == "year" %}{{ page.date | date: "%Y"}} | ZeoSpec{% elsif page.type == "month" %}{{ page.date | date: "%B %Y"}} | ZeoSpec{% elsif page.type == "day" %}{{ page.date | date: "%d %B %Y"}} | ZeoSpec{% elsif page.title %}{{ page.title }} | ZeoSpec{% else %}{{ site.data.settings.title }}{% endif %}" />
    <meta property="og:image"
        content="{% if page.image %}{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | prepend: "/images/" | prepend: site.baseurl | prepend: site.url }}{% endif %}{% else %}{{ site.data.settings.og_img | prepend: "/images/" | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
    <meta property="og:image:width" content="630" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@ZeoSpec">
    <meta name="twitter:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <meta name="twitter:site" content="@ZeoSpec">
    <meta name="twitter:title"
        content="{% if page.type == "year" %}{{ page.date | date: "%Y"}} | ZeoSpec{% elsif page.type == "month" %}{{ page.date | date: "%B %Y"}} | ZeoSpec{% elsif page.type == "day" %}{{ page.date | date: "%d %B %Y"}} | ZeoSpec{% elsif page.title %}{{ page.title }} | ZeoSpec{% else %}{{ site.data.settings.title }}{% endif %}">
    <meta name="twitter:description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
    <meta name="twitter:domain" content="{{ site.url }}">    
    <meta name="twitter:image:src"
        content="{% if page.image %}{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | prepend: "/images/" | prepend: site.baseurl | prepend: site.url }}{% endif %}{% else %}{{ site.data.settings.og_img | prepend: "/images/" | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    <meta name="keywords"
        content="Arun Teja Godavarthi, Arun, ZeoSpec, Teja, Godavarthi" />
    <meta name="author" content="ZeoSpec" />
    <meta name="subject" content=" ">
    <meta name="copyright" content="ZeoSpec">
    <meta name="Classification" content="Personal Website">
    <meta name="designer" content="ZeoSpec">
    <meta name="owner" content="ZeoSpec">
    <meta name="url" content="https://zeospec.com/">
    <meta name="identifier-URL" content="https://zeospec.com/">
    <meta name="directory" content="submission">
    <meta name="category" content="blog">
    <meta http-equiv="cache-control" content="public" />
    <meta http-equiv="Expires" content="0">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXSJ735');</script>
    <!-- End Google Tag Manager -->
</head>