<!-- begin hero -->
<section class="c-hero animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="c-hero__inner">

          <div class="c-hero__left">
            <h1 class="c-hero__title">{{ site.data.content.hero.title }}</h1>
            <div class="c-hero__description">{{ site.data.content.hero.description_html }}</div>
            <div class="c-hero__btn">
              <a href="{{ site.data.content.hero.cta_button_link }}" class="cta-button c-button c-button--primary c-button--small">{{ site.data.content.hero.cta_button }}</a>
              <a class="works-button c-button c-button--secondary c-button--small" href="{{ site.data.content.hero.works_button_link }}">
                <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ site.data.content.hero.works_button }}
              </a>
            </div>
          </div>

          <div class="c-hero__right">
            <div class="c-hero__image">
              <img loading="lazy" 
                   src="{{ site.data.content.hero.image }}" 
                   alt="{{ site.data.content.hero.hero_image_alt }}"
                   width="700" 
                   height="1050"
                   decoding="async"
                   fetchpriority="high">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->