<!-- begin subscribe -->
<section class="c-subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="c-subscribe__inner">
          <div class="c-subscribe__info">
            <h3 class="c-subscribe__title">{{ site.data.newsletter.newsletter_title }}</h3>
            <div class="c-subscribe__subtitle">
              <span id="ityped"></span>
            </div>
          </div>

          <form
            id="newsletter-form"
            class="c-subscribe__form validate"
            novalidate
            data-endpoint="{{ site.data.newsletter.script_url | default: site.newsletter_api_url }}"
            data-reference="{{ site.data.newsletter.reference | default: site.newsletter_reference | default: 'zeospec.com' }}"
          >
            <input type="text" name="honey" id="newsletter-honey" class="c-subscribe__honeypot" tabindex="-1" autocomplete="off" aria-hidden="true">

            <label class="screen-reader-text" for="newsletter-firstName">First name</label>
            <input
              class="c-subscribe__form-email required"
              id="newsletter-firstName"
              name="firstName"
              type="text"
              placeholder="First Name"
              autocomplete="given-name"
              required
              maxlength="50"
            >

            <label class="screen-reader-text" for="newsletter-lastName">Last name</label>
            <input
              class="c-subscribe__form-email required"
              id="newsletter-lastName"
              name="lastName"
              type="text"
              placeholder="Last Name"
              autocomplete="family-name"
              required
              maxlength="50"
            >

            <label class="screen-reader-text" for="newsletter-email">Email address</label>
            <input
              class="c-subscribe__form-email required email"
              id="newsletter-email"
              name="email"
              type="email"
              placeholder="Your email address"
              autocomplete="email"
              inputmode="email"
              required
              maxlength="254"
            >

            <p id="newsletter-form-message" class="c-subscribe__form-message" role="status" aria-live="polite" hidden></p>

            <button class="c-button c-button--primary c-button--large" type="submit" name="subscribe">
              <span class="c-subscribe__button-text">{{ site.data.newsletter.newsletter_button }}</span>
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->

<script>
  var itype_text = ['{{ site.data.newsletter.newsletter_description }}'];
</script>
<script defer src="{{ site.baseurl }}/js/newsletter-form.js"></script>
