<!-- begin subscribe -->
<section class="c-subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="c-subscribe__inner">
          <div class="c-subscribe__info">
            <h3 class="c-subscribe__title">{{ site.data.newsletter.newsletter_title }}</h3>
            <div class="c-subscribe__subtitle">
              <span id="ityped"></span>
            </div>
          </div>

            <!-- Google Form -->   
            <script type="text/javascript">
              var submission = false;
            </script>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
            onload="if(submission)  {window.location='/thankyou';}"></iframe>
            
          <form class="c-subscribe__form validate" action="{{ site.data.newsletter.newsletter_identifier }}" target="hidden_iframe" onsubmit="submission=true;" method="POST">
            <input type="hidden" name="_honey" style="display:none">
            <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
            <input class="c-subscribe__form-email required" id="fname" type="text" name="{{ site.data.newsletter.formFNamekey }}" placeholder="First Name" autocomplete="given-name" pattern="^[A-Za-z][A-Za-z\s\-'.]{1,}$" required>
            <input class="c-subscribe__form-email required" id="lname" type="text" name="{{ site.data.newsletter.formSNamekey }}" placeholder="Last Name" autocomplete="family-name" pattern="^[A-Za-z][A-Za-z\s\-'.]{1,}$" required>
            <input class="c-subscribe__form-email required email" id="mce-EMAIL" type="email" name="{{ site.data.newsletter.formEmailkey }}" placeholder="Your email address" autocomplete="email" inputmode="email" required>

            <button class="c-button c-button--primary c-button--large" id="membedded-subscribe" type="submit" name="subscribe" value="Subscribe">{{ site.data.newsletter.newsletter_button }}</button>
          </form>



        </div>
      </div>
    </div> 
  </div>
</section>
<!-- end subscribe -->

<script>
  var itype_text = ['{{ site.data.newsletter.newsletter_description }}'];
</script>