{% if paginator.total_pages > 1 %}
<!-- begin pagination -->
<nav class="pagination">
  <div class="container">
    <div class="pagination__inner">

      <div class="pagination__list">
        
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination__prev"><i class="ion ion-ios-arrow-back"></i> Prev</a>
        {% else %}
        <span class="pagination__prev disabled"><i class="ion ion-ios-arrow-back"></i> Prev</span>
        {% endif %}

        <div class="pagination__count">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        Page <span>{{ page }}</span>
        {% endif %}
        {% endfor %}
        of <span>{{ paginator.total_pages }}</span>
        </div>

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next">Next <i class="ion ion-ios-arrow-forward"></i></a>
        {% else %}
        <span class="pagination__next disabled">Next <i class="ion ion-ios-arrow-forward"></i></span>
        {% endif %}

      </div>

    </div>
  </div>
</nav>
<!-- end pagination -->
{% endif %}