<article class="c-project-card col col-4 col-d-6 col-t-12">
  <div class="c-project-card__content">
    <a href="{{ project.url }}" class="c-project-card__image">
      <img loading="lazy" src="{{ project.image }}" alt="{{ project.title }}">
    </a>
    <div class="c-project-card__info">
      <div class="c-project-card__info-wrap">
        <h3 class="c-project-card__title">{{ project.title }}</h3>
      </div>
      <div class="c-project-card__info-wrap">
        {% if project.subtitle %}
        <div class="c-project-card__subtitle">{{ project.subtitle }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</article>