{% if site.data.social_links.social %}
<div class="social">
  <ul class="social__list list-reset">
    {% for social in site.data.social_links.social %}
    {% assign s_icon = social.icon | downcase %}
    <li class="social__item">
      <a class="social__link{% if s_icon == 'x' or s_icon == 'twitter' %} social__link--x{% endif %}" href="{{social.link}}" target="_blank" rel="noopener" aria-label="{% if s_icon == 'x' or s_icon == 'twitter' %}X (formerly Twitter){% else %}{{s_icon}} icon{% endif %}">
        {% if s_icon == 'x' or s_icon == 'twitter' %}
        <svg class="icon-x" viewBox="0 0 24 24" width="16" height="16" fill="currentColor" aria-hidden="true"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg>
        {% else %}
        <i class="ion ion-logo-{{s_icon}}"></i>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}