.contact {
  .contact__list {
    li {
      margin-left: 7.5px;
      margin-right: 7.5px;
      display: inline-block;

      a {
        font-size: 18px;
        color: $gray;
        &:hover {
          color: $dark;
        }
      }
    }
  }
}