---
layout: default
---

<div class="arhive-head">
  <div class="container">
    <!-- <h1 class="archive-title">Tag: <span>{{ page.title }}</span></h1> -->
    <h1 class="archive-title">{% if page.type == "year" %} {{ page.type }}: {% elsif page.type == "month" %} {{ page.type }}: {% elsif page.type == "day" %} {{ page.type }}: {% elsif page.type == "tag" %} tag: {% endif %} <span>'{% if page.type == "year" %}{{ page.date | date: "%Y"}}{% elsif page.type == "month" %}{{ page.date | date: "%B %Y"}}{% elsif page.type == "day" %}{{ page.date | date: "%d %B %Y"}}{% else %}{{ page.title }}{% endif %}'</span></h1>
  </div>
</div>


{% for post in page.posts %}
  {% include article-content.html %}
{% endfor %}
