---
layout: default
---

{% include page-heading.html %}

<div class="container">
  <div class="row">
    <div class="col col-12">
      <nav class="tag-filter-bar" aria-label="Tag filter">
        <a href="{{ site.baseurl }}/blog/" class="tag-filter-pill">All</a>
        {% assign current_tag = page.title | downcase %}
        {% for tag in site.tags %}
          {% assign tag_name = tag[0] %}
          {% assign item_tag = tag_name | downcase %}
          <a href="{{ site.baseurl }}/blog/tags/{{ item_tag }}/" class="tag-filter-pill{% if item_tag == current_tag %} is-active{% endif %}">
            {{ tag_name | capitalize | replace: "-"," " }} ({{ tag[1].size }})
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner contaniner__inner animate">
        <div class="row">
          {% for post in page.posts %}
            {% include blog-card.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include newsletter.html %}